.mainItem {
  @apply m-0 text-center;
  
}

.megaMenu {
  @apply  bg-green-dark text-white absolute   pin-x w-full text-left  shadow-md;
  top: 4.3rem;
  background: #060;
}

.menuColumn {
  @apply list-reset pt-2 pb-4 px-8 m-0 border-grey border-r border-solid;
}
.menuColumn:last-child {
  @apply  border-none ;
}
.menuColumn li {
  @apply my-1;
}
.menuColumn li:first-child a{
  @apply  font-bold ;
}
.menuColumn ul {
  @apply my-1 ml-4;
}
.menuColumn>li:first-child>a{
  @apply text-white text-sm font-normal;
}
.menuColumn li a {
  @apply block pr-6 pl-2 pb-2 pt-1 no-underline text-sm;
  border-bottom: 1px solid #77a777;
}
.menuColumn li ul {
  list-style-type: disc;
  @apply pb-1 m-0 pl-8;
  border-bottom: 1px solid #77a777;
}
.menuColumn li ul li {
  @apply m-0 p-0;
}
.menuColumn li ul li a {
  border-bottom: none;
  @apply py-1 my-0;
  
}
.menuColumn li a:hover {
  @apply text-yellow-light ;
}