.mainLink {
  @apply flex-1 flex items-center text-white  items-stretch  border-white border-t-2 text-center;
  
}

@screen md {
  .mainLink {
    @apply border-t-0 border-r-2;
  }
}

.mainLink a {
  @apply flex flex-1 items-center text-center justify-center no-underline;
  background-color: rgba(0,102,0,0.7);
}

.linkTitle {
  @apply pb-2 border-b-2 border-white;
  font-family: 'Patua One', sans-serif;
  line-height: 1.8;
}
.mainLink:last-child {

}
.mainLink a:hover {
  color: yellow;
  background-color: rgba(0,102,0,0.6);
}
.textWrapper {
  @apply text-4xl;
  
}
.subHeading {

  font-size: 1.5rem;
}

.scDatesRates {
  background-image: url('https://www.datocms-assets.com/9361/1548756509-dsc1067.jpg?auto=compress,enhance');
  background-position: center center;
  background-size: cover;
}

.syDatesRates {
  background-image: url('https://www.datocms-assets.com/9361/1548757569-friends.jpg?auto=compress,enhance');
  background-position: center center;
  background-size: cover;
}

.scEnroll {
  background-image: url('https://www.datocms-assets.com/9361/1548167096-groupswim.jpg?auto=compress,enhance');
  background-position: center center;
  background-size: cover;
}
.syEnroll {
  background-image: url('https://www.datocms-assets.com/9361/1548757424-comcasthappyfriends.jpg?auto=compress,enhance');
  background-position: center center;
  background-size: cover;
}

