.mainContentWrapper {
  @apply py-px;
  background-color: #fffcfa;
}

@screen lg {
  .mainContentWrapper {
    box-shadow: inset -5px 0 10px rgba(51, 50, 15, 0.23);
  }
}

.rteWrapper h2, .rteWrapper h3 {
  margin-top: 20px;
  color: #119443;
}