.narrowContent {
  @apply px-4 mb-8 pb-px;
}
  
@screen md {
  .narrowContent {
    @apply mx-0 px-16 py-12;

  }
}

@sreen lg {
  .narrowContent {
    margin-left: 10%;
    margin-right:  10%;
  }
}

@screen xl {
  .narrowContent {
    margin-left: 5%;
    margin-right: 5%;
    
  }
}

@media (min-width: 1600px) {
  .narrowContent {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto; 
  }
}
