
.m-t-navbar {
  margin-top: 4.8rem;
}

@media (min-width: 340px) {
  .only-vsmall {
    display: none;
  }
}

@screen lg {
  .m-t-navbar {
    margin-top: 6.3rem;
  }
}

/* slick slider bottom space fix */
.slick-slider{
  margin-bottom: -7px;
}

.overlaybg {
  background-color: rgba(0,0,0,0.4);
}
.overlaybg-green {
  background-color: rgba(0,102,0,0.8);
}
.overlaybg-green:hover {
  background-color: rgba(0,102,0,0.6);
}

/* slider icons */
.iconhover {
  color: red;
  transition: all 1s;
}
.iconhover:hover {
  color: blue;
  width: 100px;
}
.text-green-body {
  color: #607568;
}
.background-white-off {
  background-color: #fdfcf9;
}

.border-yellow-highlight {
  border-color: rgba(255, 243, 130, 0.5) ;
}

.text-shadow-yellow-green {
  text-shadow: 2px 2px 0 rgb(255, 243, 130), 3px 3px 10px #419e19db ;
  /* text-shadow: 2px 2px 0 rgb(255, 243, 130),3px 3px 0 green, 3px 3px 10px #419e19db ; */
  letter-spacing: 0.07rem;
}

.text-shadow-blurry-green{
  text-shadow: 3px 3px 10px #153109db;
}

.background-fauxbois-light {
  background-image: url('../images/whitewood-texture-3.jpg');
}