.logo {
  top: 0px;
  left: 50%;
  margin-left: -60px;
  position: fixed;
  z-index: 19;
}

.image {
  @apply my-px;
  width: 120px;
}

@screen md {
  .logo {
    left: 50%;
    margin-left: -75px;
  }
  .image {
    width: 150px;
  }
}